@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}

body {
  font-size: 14px;
  font-family: "Inter";
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 8%);
  margin: 25px;
}

h1 {
  font-weight: 400;
  margin-bottom: 0;
  font-size: 24px;
}

h2 {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
  font-size: 14px;
  /* margin: 0; */
}

.container {
  background-color: hsl(0, 0%, 12%);
  border-radius: 10px;

  max-width: 400px;
  margin: auto;
  margin-top: 20vh;

  padding: 20px 0;
  padding-bottom: 10px;
}

section.header img {
  border-radius: 50%;
  max-width: 100px;
  padding: 10px;
}

section.quote {
  margin: 0 -50px;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: auto;
  padding: 0 50px;
}

.link-item a {
  text-decoration: none;
  color: white;
  background-color: hsl(0, 0%, 20%);
  border-radius: 10px;
  font-weight: 700;

  display: block;
  padding: 14px 0;
  width: 100%;
  text-align: center;
}

.link-item {
  width: 100%;
  margin: 10px 0;
}

@media (max-width: 345px) {
  section {
    padding: 0 25px;
  }
}
