@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}

body {
  font-size: 14px;
  font-family: "Inter";
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 8%);
}

.container {
  background-color: hsl(0, 0%, 12%);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 400px;
}

.container img {
  border-radius: 50%;
  max-width: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
